.image-column {
    display: flex;
    justify-content: center;
    align-items: center;

    .keras-svg-wrapper {
        display: inline-block;
        
        max-height: 500px;
        max-width: 500px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;

    }

    .yolo-arch-wrapper{
        max-width: 90%;
    }
}


.image-grid_3 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    width: 80%;
    background-color: #fff;
    padding: 32px;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);


    img {
        // font-family: 'Courier New', Courier, monospace;
        width: 40%;
        height: auto;
        // border-radius: 24px;
        object-fit: cover;
        // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
}

.image-compare-wrapper-wrapper {
    display: flex   ;
    justify-content: center;
    align-items: center;

}

.image-compare-wrapper {
    background-color: #fff;
    padding: 32px;
        width: min(312px, 100%);
        border-radius: 24px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

     img {
      width: 100%;
      height: auto;
     }
  }

  .next-btn-div {
    margin-top: 32px ;
}

@media (max-width: 768px) {
    .image-grid_3 {
        width: 100%;
        padding: 1rem;
        gap: 1rem;
        grid-template-columns: 1fr;

        img {
            width: 100%;
        }
    }

    .image-compare-wrapper {
        padding: 1rem;
    }
}